*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}
body{
    color: #ffff;
    background-color: black;
    
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 40px;
    color: #ffff;
    text-decoration: none;
    font-weight: 600;

}

.navbar a{
    display: inline-block;
    font-size: 20px;
    color: #ffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    position: relative;
    left: 50%;
    
}

.navbar a:hover{
    color: #0ef;
}

.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    background-image: url(girl\ element.jpg);
    background-size: cover;
    background-position: center;
}
.home-content {
    max-width: 600px;
    position: absolute;
    top: 38%;
}
.home-content h3 {
    font-size: 25px;
    font-weight: 700;
}
.home-content h3 span{
    color: #0ef;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    position: absolute;
    top: 150%;
}
.btn-box:hover{
    box-shadow: 0 0  5px cyan,
    0 0 50px cyan,0 0 100px cyan,
    0 0 200px cyan
}
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}
.about-img img{
    max-width: 400px;
    height: 50%;
    width: 50%;
    border-radius: 2px;
}
.about-text h2{
    font-size: 70px;
    position: absolute;
    right: 40%;
    top: 98%;
}
.about-text h2 span{
    color: #0ef;
}
.about-text p{
    color: white;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 4rem;
    position: absolute;
    top: 110%;
    left: 40%;
}
.btn-box {
    position: absolute;
    top: 145%;
}
.skill-content h2{
    font-size: 70px;
    position: absolute;
    top: 170%;
    left: 10%;
    color: #0ef;
}
.skills{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
    position: absolute;
    bottom: -140%;
}
.skill-name{
    font-size: 10px;
    font-weight: 700;
    color: #ffff;
    text-transform: uppercase;
    margin: 20px 0;
}
.skill-bar{
    height: 14px;
    border-radius: 3px;
}

.skill-per{
    height: 14px;
    background: #0ef;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
}


















































